nav{
    position: relative;
    padding-right: 2vw;
    padding-top:1vh;
    padding-bottom:.5vh;
    padding-left:.5vw;
    background-color: rgb(196, 42, 43);
    display: flex;
    flex-direction: row;

    margin-bottom: 4vh;
    
}

.navFlex{
    display: flex;
    align-items: center;
    width:100vw;
    justify-content:end;
    gap:5vw;
}

.GabyEstabrooks{
}


.NavHeader{
    margin-top: 4%;
    margin-left:1vw;
    white-space: nowrap;
    display: inline-block;
    color: #FFF;
    font-size: 2rem;
    font-family: 'playfair';
    transform: scale(1,2    );
    width: min-content;
}

a{
    text-decoration: none;

}

.link{
    color: #FFF;
    transform: scale(1,1.3);
    position: relative;
    display: inline-block;
    overflow: hidden ;


}



button{
    border: none;
    width: 10vw;
    min-width: 81px;
    height: 50px;
    border-radius: 30rem;
}

.link::before{
    content: "";
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 105%;
    background-color: #FFF;
    transform: translateX(-100%);
    transition: transform 500ms ease-in-out;


}
.link:hover::before{
    transform: translateX(0);

}


button{
    transition: transform 200ms ease-in-out;
}

button:hover{
    transform: scale(1.05) rotate(2deg) translateY(5px);

}


